---
---
@import "{{ site.theme }}";

#sidebar {
    display: none !important;
}

#main-content {
    width: 100% !important;
}

// Hides the "View project on GitHub" button in the header
header a.button, #header a.button, .btn {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
